/* Kia Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
/* 
    font-family: 'Inter', sans-serif;

    font-weight: 300; - LIGHT
    font-weight: 400 - REGULAR
    font-weight: 700 - BOLD
*/

body,
.footer-disclaimer,
.weight-normal {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.weight-light {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
footer,
.FooterGrey,
.FooterBlack,
.weight-bold {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.nav-right-with-contact
  header
  .container
  .header-wrapper
  #desktop-menu
  > li
  > a:not([href="#dropdown-search"]) {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* Default ADA page logo */

img[src="https://d2v1gjawtegg5z.cloudfront.net/assets/ada_logo-60d19c3b4c537e0f6dd75513ad8275a434ac418291f443fbae24be71a1cf6e7b.png"]
{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* Site Map Links */

.site-map-container a,
.row > .col-xs-12 > ul > li > a,
.row > .col-md-4 > ul > a,
.row > .col-md-4 > ul > a + ul > li > a,
.row > .col-xs-12 > .row > .col-xs-6 > a,
.row > .col-xs-12 > .row > .col-xs-4 > a {
  color: #05141f;
}

/* Default Form Styles */

.streakform .radio label,
.streakform .checkbox label {
  padding-left: 25px;
}
.streakform .radio input[type="radio"],
.streakform .radio-inline input[type="radio"],
.streakform .checkbox input[type="checkbox"],
.streakform .checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="checkbox"] {
  position: relative;
  width: 22px;
  height: 22px;
  top: 7px;
}

.text-me-car-modal input[type="checkbox"] {
  width: auto;
  height: auto;
  top: unset;
}

input[type="radio"]::before,
input[type="radio"]::after,
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="radio"]::before,
input[type="radio"]::after {
  border-radius: 100%;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  border-radius: 3px;
}
input[type="radio"]::before,
input[type="checkbox"]::before {
  border: solid 1px #d5d5d5;
  background-color: #ffffff;
}
input[type="radio"]::before {
  width: 22px;
  height: 22px;
}
input[type="radio"]::after,
input[type="checkbox"]::after {
  background-color: transparent;
}
input[type="radio"]::after {
  width: 8px;
  height: 8px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  width: 22px;
  height: 22px;
}
input.compare-vehicle-id[type="checkbox"] {
  top: 0;
}
input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background-color: #05141f;
}
input[type="checkbox"]:checked::after {
  background-image: url(https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/228/768/original/ss-gizmo-check-sm--white.png?1659970343);
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
}
input[type="radio"]:disabled::before,
input[type="checkbox"]:disabled::before {
  border-color: #999999;
}
input[type="radio"]:disabled::before,
input[type="checkbox"]:disabled::after {
  background-color: #999999;
}
input:disabled {
  opacity: 0.4 !important;
}
.has-error input,
.has-error select,
.has-error textarea {
  background-color: #999999 !important;
  border: solid 2px #05141f !important;
  color: #05141f !important;
}
.has-error input::placeholder,
.has-error select::placeholder,
.has-error textarea::placeholder {
  color: #05141f !important;
}
.has-error label,
.has-error .field-error-message {
  color: #05141f !important;
}
.streakform > .col-md-push-6 > .form-top-text + .row {
  margin-top: 45px;
}
.streakform
  > .col-md-push-6
  > .form-top-text
  + .row
  > .col-sm-6:nth-of-type(1)
  > .form-group:nth-of-type(2)
  > input:nth-of-type(1) {
  margin-bottom: 15px;
}
.streakform .btn-primary {
  background-color: #999999;
  border-color: #999999;
  display: inline-block;
  border: 0px;
  border-radius: 3px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.streakform .btn-group[name="has_a_trade_in"] .btn-primary {
  width: 49%;
  margin: 0;
}
.streakform .btn-group[name="has_a_trade_in"] .btn-primary:nth-of-type(1) {
  margin-right: 2%;
}
.streakform .btn-primary.active,
.streakform .btn-primary.focus,
.streakform .btn-primary.active.focus,
.streakform .btn-primary:hover,
.streakform .btn-primary:active,
.streakform .btn-primary:focus {
  background-color: #05141f;
  border-color: #05141f;
}
@media (max-width: 991px) {
  .streakform > .col-md-push-6 {
    margin-bottom: 150px;
  }
}

/* Default Service Coupons */

.service-coupons .service-coupon {
  min-height: 425px;
  padding-top: 15px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border: 0px;
}
.service-coupons .service-coupon .service-coupon-body .coupon-offer {
  border: 0px;
  border-radius: 3px;
  height: 70px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-coupon .service-coupon-body .coupon-text p,
.service-coupon .service-coupon-body .coupon-text h1,
.service-coupon .service-coupon-body .coupon-text span {
  font-family: ToyotaType-Book, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal !important;
  color: #05141f !important;
}
.service-coupon .service-coupon-body .coupon-offer h2 {
  color: #999999 !important;
  font-size: 15px !important;
}
.service-coupon > h4.pull-right {
  display: none;
}
.service-coupon .coupon-footer {
  padding-bottom: 15px;
}
.service-coupon .coupon-footer .get-coupon-btn {
  border: 0px;
  color: #05141f;
  transition: all 0.3s ease;
}
.service-coupon .coupon-footer .get-coupon-btn:hover,
.service-coupon .coupon-footer .get-coupon-btn:active,
.service-coupon .coupon-footer .get-coupon-btn:focus {
  border: 0px;
  color: #999999;
}
.service-coupon .coupon-footer .coupon-phone {
  display: none;
}
.service-coupons .directions-btn {
  display: none;
}
.service-coupon .service-coupon-body .coupon-title a,
.service-coupon .service-coupon-body .coupon-title h3 {
  color: #05141f;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service-coupon .service-coupon-body .coupon-title a:hover,
.service-coupon .service-coupon-body .coupon-title a:active,
.service-coupon .service-coupon-body .coupon-title a:focus,
.service-coupons .service-coupon .service-coupon-body .coupon-offer a:hover,
.service-coupons .service-coupon .service-coupon-body .coupon-offer a:active,
.service-coupons .service-coupon .service-coupon-body .coupon-offer a:focus {
  text-decoration: none;
}
.service-coupon .service-coupon-body .coupon-title a:hover h3,
.service-coupon .service-coupon-body .coupon-title a:active h3,
.service-coupon .service-coupon-body .coupon-title a:focus h3 {
  color: #999999;
}

/* Toyota Black: #05141F */

.vehicle-filter-menu .irs-bar,
button#mobile-refine-results,
.vehicle-index-container
  .listing-page
  .vehicle-filter-menu
  .sort-menu-container
  > .row
  .btn-info,
#vdp-page #vdp-top,
#vdp-page .vdp-slider,
.vehicle-unit-container .vehicle-make-model {
  background-color: #05141f;
}

.vehicle-filter-menu .irs-bar {
  border-color: #05141f;
}

.vehicle-filter-menu .panel .panel-heading,
.vehicle-unit-container .vehicle-year,
.vehicle-unit-container .vehicle-make-model,
.vehicle-unit-container .vehicle-sub-title,
.vdp-container .vehicle-item,
.vehicle-unit-container * {
  color: #05141f;
}

.vehicle-unit-container .vehicle-make-model * {
  color: #ffffff;
}

.vdp-container .vehicle-item:hover,
.vdp-container .vehicle-item:active,
.vdp-container .vehicle-item:focus,
.vdp-container .reviews-link a {
  color: #58595b;
}

button#mobile-refine-results:hover,
button#mobile-refine-results:active,
button#mobile-refine-results:focus {
  background-color: #58595b;
}

.vehicle-unit-container .toggle-pano-modal {
  color: #ffffff;
}

/* Price Block SRP + VDP */

.vehicle-prices.new-vehicle-prices {
  display: flex;
  flex-direction: column;
}
.vehicle-prices.new-vehicle-prices .highest-price {
  order: 1;
}
.vehicle-prices.new-vehicle-prices .price-savings {
  order: 2;
}
.vehicle-prices.new-vehicle-prices .lowest-price {
  order: 3;
}
.stacked-vehicle-prices,
.vehicle-prices {
  padding-bottom: 10px;
}
.vehicle-index-price.vehicle-price-block .vehicle-prices {
  padding-bottom: 25px;
}
.vehicle-price-block h5.price-label,
.price-block h5.price-label,
.stacked-vehicle-prices h5.price-label {
  float: left;
}

.vehicle-price-block h3,
.price-block h3,
.stacked-vehicle-prices h3,
.vehicle-price-block h4,
.price-block h4,
.stacked-vehicle-prices h3,
.price-add-ons h4 {
  float: right;
}

body .stacked-srp-prices .single-stacked-price {
  margin-top: 0;
}

.vehicle-index-price.vehicle-price-block h3,
.price-block h3,
.stacked-vehicle-prices h3,
.vehicle-index-price.vehicle-price-block h4,
.price-block h4,
.stacked-vehicle-prices h4,
.vehicle-index-price.vehicle-price-block h5,
.price-block h5,
.stacked-vehicle-prices h5 {
  margin: 0px 0px 5px 0px;
  font-size: 13px;
  color: #999999;
}

.lowest-price h3,
.single-price h3,
.single-stacked-price h3,
.lowest-price h5,
.single-price h5,
.single-stacked-price h5 {
  font-size: 16px !important;
  color: #05141f !important;
}

.vehicle-prices > div[class="col-xs-12"] > h3 {
  width: 100%;
  text-align: center;
  color: #05141f;
  font-size: 16px;
}

.single-stacked-price > h3:not([class=""]) {
  text-align: center;
}
.row.stacked-srp-prices .col-xs-6:last-child {
  width: 100%;
}

/* Vehicle Thumb */

body .vehicle-thumb-container .preview-image-controls .prev-controls,
body .vehicle-thumb-container .preview-image-controls .next-controls {
  opacity: 0.9;
  background-color: #05141f;
}

.vehicle-thumb-container button.change-image {
  border-radius: 50px;
  padding: 12px 16px;
  margin: 10px;
  border: 0px;
}

.vehicle-thumb-container button.change-image .fa {
  color: #ffffff;
}

/* ePrice Button */

.get-price-btn-container .get-price-button {
  width: 100%;
  background: #027302;
  border: 1px solid #027302;
}
.get-price-btn-container .get-price-button:hover {
  background: #ffffff;
  color: #027302 !important;
  border: 1px solid #027302;
}
.locked-price-container h3 .locked-price-placeholder,
.locked-price-container h3 .locked-price-label {
  display: block;
}

.locked-price-container h3 .locked-price-placeholder {
  float: right;
}

.locked-price-container h3 .locked-price-label {
  float: left;
}
.locked-price-container h3 {
  width: 100%;
}
.active-template-price-block .row {
  margin-left: 0;
  margin-right: 0;
}

.stacked-vehicle-prices .locked-price-container h3 {
  color: #000000;
}
.vehicle-index-container .search-button--value,
.vehicle-index-container .search-button--approved {
  display: none;
}

/* Badges */

.custom-badge {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: 8px;
  margin-right: 8px;
  max-width: 100%;
}
.custom-badge--img {
  height: 55px;
}
.custom-badge--btn {
  width: 150px;
}

/* Generic Utility Classes START */
/*-------------------------------*/

/* COLOR PALETTE */
.primary-background-black {
  background-color: #05141f;
}
.primary-color-black {
  color: #05141f;
}
.secondary-background-white {
  background-color: #ffffff;
}
.secondary-color-white {
  color: #ffffff;
}
.alt-background-gray {
  background-color: #b5b5b5;
}
.alt-color-gray {
  color: #b5b5b5;
}
.alt-color-blue {
  color: #37414d;
}
.secondary-alt-background-gray {
  background-color: #697279;
}
.secondary-blue-bg {
  background-color: #1f2c35;
}
.secondary-light-blue-bg {
  background-color: #37434d;
}
.bg-kia-black-gradient {
  background: linear-gradient(90deg, rgb(5 20 31) 50%, rgb(60 60 60) 100%);
}
.sokal-color-light-blue {
  color: #4298b5;
}

/* SPACING */
.padding-lg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.padding-sm {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.padding-xs {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-only {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
/* BUTTONS */
.kia-primary-btn,
.unlock-price-button,
.get-price-button,
.service-coupons
  .col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4
  .appointment-btn,
.btn-success {
  background-color: #05141f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  border-radius: 30px;
  border: 1px solid #05141f;
  margin: 30px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: all 0.3s ease;
  transition: 0.3s all ease;
}
.kia-primary-btn:hover,
.kia-primary-btn:active,
.kia-primary-btn:focus,
.unlock-price-button:hover,
.unlock-price-button:active,
.unlock-price-button:focus,
.get-price-button:hover,
.get-price-button:active,
.get-price-button:focus,
.service-coupons
  .col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4
  .appointment-btn:hover,
.btn-success:hover {
  background-color: #ffffff;
  color: #05141f;
  text-decoration: none;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  border-color: #05141f;
}
.kia-secondary-btn,
.payment-calculator-offer-btn {
  background-color: #ffffff;
  color: #05141f;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  border-radius: 40px;
  border: 1px solid #05141f;
  margin: 30px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: all 0.3s ease;
  transition: 0.3s all ease;
}
.kia-secondary-btn:hover,
.kia-secondary-btn:active,
.kia-secondary-btn:focus,
.payment-calculator-offer-btn:hover,
.payment-calculator-offer-btn:active {
  background-color: #05141f;
  color: #ffffff !important;
  text-decoration: none;
}

.streakform .btn-success.form-submit-button,
body .vehicle-model-dropdown .search-btns .btn {
  background-color: #05141f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  border-radius: 0;
  margin: 30px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: all 0.3s ease;
  transition: 0.3s all ease;
}
body .vehicle-model-dropdown .search-btns .btn {
  margin: 10px auto 15px !important;
  text-transform: capitalize;
}

.btn-success:active,
.btn-success:focus {
  background-color: #05141f !important;
  border-color: #05141f !important;
  color: #ffffff !important;
}

.streakform .btn-success.form-submit-button:hover,
.streakform .btn-success.form-submit-button:focus,
.streakform .btn-success.form-submit-button:active {
  background-color: #ffffff;
  color: #05141f;
  border-color: #05141f;
  text-decoration: none;
}
body .vehicle-model-dropdown .search-btns .btn:hover,
body .vehicle-model-dropdown .search-btns .btn:focus,
body .vehicle-model-dropdown .search-btns .btn:active {
  background-color: #ffffff !important;
  color: #05141f !important;
  border-color: #05141f !important;
  text-decoration: none;
}
#payment-calculator-offer .payment-btn-primary {
  background-color: #05141f !important;
  color: #ffffff !important;
  border-color: #05141f !important;
}
#payment-calculator-offer .payment-btn-primary:hover,
#payment-calculator-offer .payment-btn-primary:focus,
#payment-calculator-offer .payment-btn-primary:active {
  background-color: #ffffff !important;
  color: #05141f !important;
}
#payment-calculator-offer .payment-btn-secondary {
  background-color: #ffffff !important;
  color: #05141f !important;
  border-color: #05141f !important;
}
#payment-calculator-offer .payment-btn-secondary:hover,
#payment-calculator-offer .payment-btn-secondary:focus,
#payment-calculator-offer .payment-btn-secondary:active {
  background-color: #05141f !important;
  color: #ffffff !important;
}
.unlock-price-button,
.get-price-button {
  display: block;
  margin: auto;
  width: 100%;
}
.unlock-price-button:hover,
.get-price-button:hover {
  border: 1px solid #05141f;
  color: #05141f !important;
}
body .unlock-price-button:focus,
body .get-price-button:focus {
  text-decoration: none;
}

/* unlock/eprice modal */
.unlock-price-modal .btn {
  border-radius: 0 !important;
}
.unlock-price-modal .modal-body,
.unlock-price-modal .modal-footer {
  background: #ffffff;
}

body .vehicle-index-buttons .btn {
  font-size: 16px;
  font-weight: 500;
  /*margin: auto !important;*/
}
body .vehicle-show-buttons .btn {
  font-size: 16px;
  font-weight: 500;
  /*margin: 15px auto !important;*/
}

@media (min-width: 768px) {
  .new-false .active-template-vehicle-badges {
    min-height: auto;
  }
  .new-true .active-template-vehicle-badges {
    min-height: 125px;
  }
  .vehicle-index-buttons,
  .new-used-srp .new-true .active-template-vehicle-badges {
    min-height: 70px;
  }
}

/*
@media (min-width: 768px) {
.stacked-vehicle-prices.new-vehicle-prices {
    min-height: 165px;
  }
} */ 

/* MEDIA QUERIES */
@media (min-width: 1400px) {
  .container-xl {
    width: 1320px;
    max-width: 100%;
  }
}
/* Generic Utility Classes END */
/*-----------------------------*/

/* COUPON STYLING START */
/*----------------------*/

.service-coupon .coupon-image-section img {
  max-height: 180px;
  border-radius: 8px 8px 0 0;
}

.service-coupons .service-coupon,
.service-coupon .service-coupon-body,
.service-coupons .service-coupon .service-coupon-body .coupon-offer {
  background: #05141f;
  color: #ffffff;
}
.service-coupons .service-coupon .service-coupon-body .coupon-offer {
  box-shadow: none;
}

.service-coupon .service-coupon-body .coupon-title a,
.service-coupon .service-coupon-body .coupon-title h3 {
  color: #ffffff;
}

.service-coupon .service-coupon-body .coupon-text {
  font-size: 1.5rem;
  text-align: center;
}

.service-coupon .service-coupon-body .coupon-text li {
  list-style-type: none;
}

.service-coupon .service-coupon-body .coupon-text ul {
  padding: 0;
}

.service-coupon .coupon-footer .expiration,
.service-coupon .coupon-footer .disclaimer-link {
  color: #ffffff;
  text-decoration: none;
}

.service-coupons .service-coupon {
  padding-top: 0;
  border-radius: 8px;
}

.service-coupon .coupon-footer .get-coupon-btn {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px;
}

.service-coupon .service-coupon-body .coupon-offer h2 {
  color: #ffffff !important;
  font-size: 1.75rem !important;
}

.service-coupons .service-buttons-container .appointment-btn {
  background-color: #05141f !important;
  border-bottom: 1px solid #ffffff;
  width: 75%;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service-coupons .service-buttons-container .appointment-btn:hover {
  transform: scale(1.15);
}

.service-coupon .coupon-footer .disclaimer-link:hover {
  text-decoration: underline;
  color: #ffffff;
}
.service-coupon-container {
  margin-right: 0 !important;
}

@media (min-width: 1200px) {
  .service-coupon-container {
    width: 25% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .service-coupon-container {
    width: 30% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-coupon-container {
    width: 41% !important;
  }
}

/* show coupon page */
.show-coupon .service-coupon {
  max-width: 280px;
}
.show-coupon .service-buttons-container {
  display: none;
}
/* COUPON STYLING END */
/*--------------------*/
/* FORM STYLING START*/
/*-------------------*/

/* Colors */
.form--style-base .panel {
  background-color: #ffffff;
}
/* Shadows */
.form--style-base .panel {
  -webkit-filter: drop-shadow(0px 0px 20px #ececec);
  filter: drop-shadow(0px 0px 20px #ececec);
  box-shadow: none;
}
.form--style-base .panel-heading {
  background-color: transparent;
}
/* Fonts */
.form--style-base .form-title {
  font-family: "Kumbh Sans", sans-serif;
}
/* Transitions */
.form--style-base .btn {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 500;
  padding: 10px 34px;
}
/* Form Container */
.form--style-base {
  width: 600px;
  max-width: 100%;
  margin: 30px auto;
}
/* Form Groups */
.form--style-base .form-group .col-sm-3,
.form--style-base .form-group .col-sm-9 {
  width: 100%;
  text-align: left;
}
/* Panel  */
.form--style-base .panel {
  padding: 4vw;
  background-clip: padding-box;
  border: 0px;
  border-radius: 6px;
}
/* Panel Heading */
.form--style-base .panel-heading {
  border: 0px;
}
/* Title */
.form--style-base .form-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
/* Buttons */
/*
.btn-group.preferred-contact-method {
    margin-left: 15px;
}
*/
.form--style-base .ajax-form-submit-btn {
  display: block;
  background-color: #05141f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  margin: 30px auto;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: all 0.3s ease;
  transition: 0.3s all ease;
}
.form--style-base .ajax-form-submit-btn:hover {
  background-color: #05141f;
  color: #ffffff;
  text-decoration: none;
}
.contact-method-btn {
  font-size: 12px;
}
.contact-method-btn.active {
  background: #05141f;
  color: #ffffff;
  border: 1px solid #05141f;
}
/* FORM STYLING END*/
/*-----------------*/
.vehicle-not-found-page {
  border-top: solid 1px #838a91;
}

/* PAGE SPECIFICS */
.webpage p {
  font-size: 1.75rem;
}
@media (max-width: 550px) {
  .webpage .hero h1 {
    font-size: 26px;
  }

  .webpage .hero h3 {
    font-size: 14px;
  }
}
.kia-compliant-anchor {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
.kia-compliant-anchor:hover,
.kia-compliant-anchor:active,
.kia-compliant-anchor:focus {
  color: #000000;
}
/* END OF TEMPLATE STYLING */

/* NEW CUSTOM CSS - POST SITE REVAMP  */
/*------------------------------------*/

/* HIDE DISCLAIMER ON EPRICE MODAL */
#eprice-form-modal .modal-footer .vehicle-disclaimer {
  display: none;
}
/* HIDE LOCKED PRICE CONTAINER ON NEW VEHICLES */
.new-true .col-xs-12.locked-price-container,
.vdp-container .locked-price-container[data-inventory-type="new"] {
  display: none !important;
}

.new-true .highest-price.double-stacked-price {
  margin-top: 37px;
}

.new-true .highest-price.double-stacked-price h3,
.new-true .highest-price.double-stacked-price h5.price-label,
.vdp-container
  .new-vehicle-prices[data-inventory-type="new"]
  .highest-price.double-stacked-price
  h3,
.vdp-container
  .new-vehicle-prices[data-inventory-type="new"]
  .highest-price.double-stacked-price
  h5.price-label {
  font-size: 16px !important;
  color: #05141f !important;
}

.stacked-vehicle-prices .col-xs-12 .applied-rebate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.applied-rebate .tooltip .tooltip-inner {
  background: #05141f;
  color: white;
}
.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    background-color: #C70007;
    border-radius: 4px;
}

/* Aligning Dealer Discount on SRP/VDP CD 10/17/23 */

.stacked-vehicle-prices .col-xs-12.price-savings {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: baseline;
}

/* Hide Get Price Button and format new one*/
.get-price-btn-container .search-buying-options {
  background-color: #027302;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  border-radius: 40px;
  border: 1px solid #05141f;
  margin: 9px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -moz-transition: all 0.3s ease;
  transition: 0.3s all ease;
}
.get-price-btn-container .search-buying-options:hover {
  background-color: #ffffff;
  color: #027302;
  border-color: #027302;
  text-decoration: none;
}

/*Careers page alignment fix KNP*/
@media (min-width: 768px) {
.application-page.application-page--no-active-jobs .col-xs-12.col-sm-6.col-sm-offset-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}    
}

/* Gubagoo CBO z-index - KA 2/23/24 */
.cbo-container {
    z-index: 99999999;
}

/* Search Bar added to all pages - KA 3/21/23 tick #45478 */
.full-width-search-bar {
    background: #efefef;
}
.full-width-search-bar .input-group input {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border: solid;
}
.full-width-search-bar .input-group .input-group-btn button {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border: solid 0px;
    background: #000000;
    color: #ffffff;
}

/* Gubagoo Z-index fix - KA 4/19/24 */
body .cbo-container {
    z-index: 99999999;
}

.stacked-vehicle-prices .applied-rebate {
    text-align: left;
}

.consumer-report-badge {
    margin: 10px auto;
}

.consumer-report-badge > :not(:first-child) {
    display: none;
}

img.trustmark-image {
    max-width: 250px;
}
.full-width-search-bar {
    background: #efefef;
}
.full-width-search-bar .input-group input {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border: solid;
}
.full-width-search-bar .input-group .input-group-btn button {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border: solid 0px;
    background: #000000;
    color: #ffffff;
}
hidden {
display: none; 
}

.consumer-report-badge > :not(:first-child) {
    display: none;
}

.service-coupon .service-coupon-body .coupon-title {
    min-height: 133px;
}

.available-rebates-section button {
    margin: 5px auto 0;
}
.vehicle-unit-container .vehicle-buttons {
    padding-top: 0;
}

/* Fixing border for TP btn SRP/VDP - MW (4/30/26) #100502 */
.search-result-buttons .tp-btn-payment .tp-cta-button-widget .tp-cta-button-btn,
.vehicle-unit-container .tp-btn-payment .tp-cta-button-widget .tp-cta-button-btn {
    border: 1px solid #6a727a !important;
}