body .FooterGreyLeft .row:nth-child(7) {
  display: flex;
  align-items: center;
}
.maw-footer-container--logo {
  margin-left: auto;
}

@media (max-width: 725px) {
.footer-phones {
    display: flex;
    flex-direction: column;
}
.FooterGreyLeft .footer-contact .footer-phones a:not(:last-child) {
    padding-right: 0px !important;
    border-right: none !important;
    margin-right: 0px !important;
}
}

@media (max-width: 671px) {
  .col-xs-6.maw-footer-container {
  	float: left !important; 
  }
}