/* EXTENDED NAV TOOLBAR */

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact {
  --bg-color-hovered: var(--sc);
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper #desktop-menu>li>a:hover::after,
#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper #desktop-menu>li>a:focus::after {
  background-color: var(--sc);
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper ul.dropdown-menu {
  border-radius: 10px;    
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper ul.dropdown-menu > li:first-child:not(:only-child) a {
  border-radius: 10px 10px 0 0;
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper ul.dropdown-menu > li:last-child:not(:only-child) a {
  border-radius: 0 0 10px 10px;
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper ul.dropdown-menu > li:not(:first-child):not(:last-child) a {
  border-radius: 0;
}

#nav-right-with-contact-v-extended-toolbar .nav-right-with-contact header .container .header-wrapper ul.dropdown-menu > li:only-child a {
  border-radius: 10px;
}

#nav-right-with-contact-v-extended-toolbar .click-through-mobile-contact-bar {
  border-bottom: solid 1px var(--nav-border-bottom-color);
}
