#browse-vehicles-search-hero #coa-step,
#browse-vehicles-search-hero #search-step .browse-row,
#browse-vehicles-search-hero #buttons-step,
#browse-vehicles-search-hero #search-step .search-row > .col-xs-12:nth-child(1) {
  display: none;
}
#browse-vehicles-search-hero {
  padding-bottom: 60px;
  min-height: unset;
}
#browse-vehicles-search-hero .background-row {
  bottom: unset;
  height: calc(100% - 35px);
}
#browse-vehicles-search-hero .overlay-content {
  background: none;
  padding: 0%;
  min-height: 160px;
  height: 35vw;
}
#browse-vehicles-search-hero .overlay-content .browse-vehicles,
#browse-vehicles-search-hero .overlay-content .browse-vehicles > .container {
  height: 100%;
}
#browse-vehicles-search-hero .overlay-content .browse-vehicles > .container {
    position: relative;
}
#browse-vehicles-search-hero #search-step {
  position: absolute;
  left: 0px;
  bottom: -50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browse-vehicles-search-hero #search-step > .search-row {
    width: 900px;
    max-width: 100%;
}
#browse-vehicles-search-hero .search-row input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px 5px #76767627;
  -moz-box-shadow: 0px 0px 5px 5px #76767627;
  box-shadow: 0px 0px 5px 5px #76767627;
}
#browse-vehicles-search-hero .search-row input:focus {
  z-index: 2;
}
#browse-vehicles-search-hero .search-row .btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0px;
  -webkit-box-shadow: 1px 8px 5px -4px #76767627;
  -moz-box-shadow: 1px 8px 5px -4px #76767627;
  box-shadow: 1px 8px 5px -4px #76767627;
}
#browse-vehicles-search-hero .search-row .search-bar .input-search, 
#browse-vehicles-search-hero .search-row .search-bar .input-group-btn .btn {
  font-size: 15px;
  background-color: #ffffff;
}
#browse-vehicles-search-hero .search-row .search-bar .input-search::placeholder {
  color: #B5B5B5;
}
#browse-vehicles-search-hero .search-row .search-bar .input-search {
  padding-left: 25px;
}
#browse-vehicles-search-hero .search-row .search-bar .input-group-btn .btn {
  color: #B5B5B5;
  padding-right: 25px;
}
#browse-vehicles-search-hero .search-row .search-bar .input-search, 
#browse-vehicles-search-hero .search-row input:focus ~ .input-group-btn .btn {
  color: #00095B;
}

/* SHOP & SERVICE FILTER */
/*************************/

body #hp-shop-service-component .shop-inventory-buttons .btn,
body #hp-shop-service-component .service-buttons .btn {
   	max-width: 300px;
}
body #hp-shop-service-component .service-buttons .col-sm-4.col-xs-12 {
   	text-align: center;
}
body #hp-shop-service-component .service-buttons .btn {
	display: inline-block;
}
body #hp-shop-service-component .shop-inventory-buttons .btn, 
body #hp-shop-service-component .service-buttons .btn {
  border: 2px solid transparent;
  background: #00095B;
  color: #ffffff;
  border-radius: 30px;
  -webkit-transition: .3s all ease; 
  -o-transition: .3s all ease; 
  -moz-transition: all 0.3s ease;
  transition: .3s all ease;
  text-transform: capitalize;
}
body #hp-shop-service-component .shop-inventory-buttons .btn:hover, 
body #hp-shop-service-component .service-buttons .btn:hover,
body #hp-shop-service-component .shop-inventory-buttons .btn:active, 
body #hp-shop-service-component .service-buttons .btn:active,
body #hp-shop-service-component .shop-inventory-buttons .btn:focus, 
body #hp-shop-service-component .service-buttons .btn:focus {
  background: #1700F4;
  color: #ffffff;
/*  border-color: #00095B;*/
}
body #hp-shop-service-component .search-form-btn.vehicle-search-submit {
  background-color: #ffffff;
  color: #00095B;
  border: 2px solid #ffffff;
  text-transform: capitalize;
}
body #hp-shop-service-component .search-form-btn.vehicle-search-submit:hover,
body #hp-shop-service-component .search-form-btn.vehicle-search-submit:focus,
body #hp-shop-service-component .search-form-btn.vehicle-search-submit:active {
  background-color: #00095B;
  color: #ffffff;
  border-color: #00095B;
}
/*
body #hp-shop-service-component .shop-inventory-buttons .new-vehicles {
  background: #ffffff;
  color: #00095B;
}
body #hp-shop-service-component .shop-inventory-buttons .pre-owned-vehicles {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
*/

body #hp-shop-service-component .shop-box .nav-tabs li {
	width: 35%;
}
body #hp-shop-service-component .shop-box .nav-tabs li.active:first-child {
    border-right: none;
    border-top-right-radius: 0;
    width: 65%;
  	-webkit-transition: .3s all ease; 
    -o-transition: .3s all ease; 
    -moz-transition: all 0.3s ease;
    transition: .3s all ease;
}
body #hp-shop-service-component .shop-box .nav-tabs li:not(.active):first-child {
    border-top-right-radius: 0;	  
    border-bottom-right-radius: 6px;  
}
body #hp-shop-service-component .shop-box .nav-tabs li.active:last-child {
/*    border-left: none;*/
    border-top-left-radius: 0;
    width: 65%;
    -webkit-transition: .3s all ease; 
    -o-transition: .3s all ease; 
    -moz-transition: all 0.3s ease;
    transition: .3s all ease;
}
body #hp-shop-service-component .shop-box .nav-tabs li:not(.active):last-child {
    border-top-left-radius: 0;	
    border-bottom-left-radius: 6px;
}

body #hp-shop-service-component {
  background: url('https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/370/674/original/ford-serv-bg_%281%29.png?1675704057');
  background-position: center 65%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgb(0 0 0 / 0.5);
}

body #hp-shop-service-component .container {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: #ffffff59;
  padding: 0;
  border-radius: 6px;
}

body #hp-shop-service-component .shop-box {
  background: transparent;
  color: #00095B;
}

body #hp-shop-service-component .shop-box .nav-tabs {
  background: transparent;
  border: none;
}

body #hp-shop-service-component .shop-box .nav-tabs li {
  border: 2px solid #ffffff;
  background-color: #B5B5B5;
/*  border-bottom: none;*/
}
body #hp-shop-service-component .shop-box .nav-tabs li.active {
  background: transparent;
  border: 2px solid #ffffff;
  border-bottom: none;
}
body #hp-shop-service-component .shop-box .nav-tabs li:hover:not(.active) {
	background-color: #EBEBEB;
  	border-color: transparent;
}
/*
body #hp-shop-service-component .shop-box .nav-tabs li:hover:not(.active) a {
	color: #00095B;
}
*/
body #hp-shop-service-component .shop-box .nav-tabs li.active a {
  color: #ffffff;
  background-color: transparent;
}
body #hp-shop-service-component .shop-box .nav-tabs li:after {
	height: 3px;
  	width: 50%
}

body #hp-shop-service-component .shop-box .nav-tabs li.active:after {
  background: #ffffff;
}

body #hp-shop-service-component .tab-pane {
    border: 2px solid #ffffff;
  	background-color: transparent;
}

body #hp-shop-service-component .form-group:not(#search-submit) {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}

body #hp-shop-service-component .form-control {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

body #hp-shop-service-component .matching-vehicles-found,
body #hp-shop-service-component #service-filter .service-hours .col-xs-12 p {
  color: #ffffff;
}
body #hp-shop-service-component .tab-pane.active,
body #hp-shop-service-component #shop-filter.active,
body #hp-shop-service-component #service-filter.active {
	background-color: transparent;
  	border-top: none;
    min-height: 250px;
}
body #hp-shop-service-component .shop-box .nav-tabs li:not(.active) a {
	color: #00095B;
}
body #hp-shop-service-component .shop-box .nav-tabs li:not(.active) a:hover {
	color: #00095B;
}
#hp-shop-service-component #service-filter .hours-box {
    font-size: 1.75rem;
}
/* DEREK ADJUSTMENT START */

body #hp-shop-service-component .shop-box .nav-tabs li:not(.active):first-child {
    display: none;
}

body #hp-shop-service-component .shop-box .nav-tabs li:last-child {
    width: 100% !important;
}
/* DEREK ADJUSTMENT END */

@media (min-width: 1441px) {
	body #hp-shop-service-component {
	    background-size: cover;
  }
}

@media (min-width: 768px) {
	body #hp-shop-service-component .tab-pane .shop-inventory-buttons .col-sm-6.col-xs-12 {
    	text-align: right;
	}
  	body #hp-shop-service-component .shop-inventory-buttons .new-vehicles {
    	display: inline-block;
	}
}
@media (max-width: 767px) {
  body #hp-shop-service-component .container {
  	width: 75%;
  }
	body #hp-shop-service-component .shop-inventory-buttons .btn,
  	body #hp-shop-service-component .service-buttons .btn {
    	display: inline-block;    	
	}
  	body #hp-shop-service-component .tab-pane .shop-inventory-buttons .col-sm-6.col-xs-12,
  	body #hp-shop-service-component .service-buttons .col-sm-4.col-xs-12 {
    	text-align: center;
	}
  	body #hp-shop-service-component .tab-pane.active, 
  	body #hp-shop-service-component #shop-filter.active, 
  	body #hp-shop-service-component #service-filter.active {
  		min-height: 600px;
  }
  	body #hp-shop-service-component #service-filter .service-buttons {
  		margin: 35px 0;
  }
	body #hp-shop-service-component #service-filter .hours-box {
    	margin-bottom: 25px;
	}
  	body #hp-shop-service-component .form-group:not(#search-submit) {
	    width: 75%;
	    margin: 0 auto 15px auto;
  	}
  	body #hp-shop-service-component .search-form-btn.vehicle-search-submit,
  	#hp-shop-service-component #service-filter .service-hours {
    	width: 75%;
    	margin: auto;
	}
}
@media (max-width: 499px) {
	body #hp-shop-service-component .container {
  		width: 90%;
  }
  	body #hp-shop-service-component .form-group:not(#search-submit),
   	body #hp-shop-service-component .search-form-btn.vehicle-search-submit,
	#hp-shop-service-component #service-filter .service-hours {
	    width: 85%;
  	}
  	#hp-shop-service-component .shop-inventory-buttons .btn, 
  	#hp-shop-service-component .service-buttons .btn {
  		font-size: 12px !important;
  	}
  	body #hp-shop-service-component .shop-box .nav-tabs li {
    	min-height: 66px;
	}

	body #hp-shop-service-component .shop-box .nav-tabs li.active {
    	padding-top: 10px;
	}
  	#hp-shop-service-component #service-filter .hours-box {
  		font-size: 1.35rem;
  	}
}
@media (min-width: 432px) and (max-width: 499px) {
	body #hp-shop-service-component .shop-box .nav-tabs li:not(.active):first-child {
  		padding-top: 10px
  	}
}
@media (min-width: 354px) and (max-width: 499px) {
	body #hp-shop-service-component .shop-box .nav-tabs li:not(.active):last-child {
  		padding-top: 10px
  	}
}

/* HIDE HYBRIDS ON CAROUSEL */
.vehicle-type-display#ford-tabbed-white ul li[role="hybrids-tab"] {
    display: none;
}

/* FEATURED VEHICLES */
/*********************/

#featured-vehicles-component .wrapper {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 !important;
  	width: 100%;
    display: inline-block !important;
}
.featured-vehicle-block:hover .featured-car-data {
	padding-left: 10px !important;
    padding-right: 10px !important;
}
.featured-vehicle-block .featured-car-data {
  transition: padding 0.2s ease;
  padding: 0 !important;
  height: auto !important;
}
#featured-vehicles-component .wrapper:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 0px 15px 7px #76767627;
    box-shadow: 0px 0px 15px 7px #76767627;
}
#featured-vehicles-component .wrapper .featured-car-img img {
    border-radius: 6px;
}
#featured-vehicles-component .featured-vehicle-block:hover .featured-car-img img {
  border-radius: 6px 6px 0px 0px;
}
.FeaturedHeading {
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-align: left;
}

.featured-vehicle-vin,
.ribbon-wrapper-green,
.FeaturedHeading,
.FeaturedPriceTag {
    display: none;
}
/* ADDING ON */
.spects {
  	display: flex;
    flex-direction: column;
    color: #00095B;
}
.feat-year {
    font-size: 16px;
    margin-bottom: 10px;
}

.feat-model {
    font-size: 16px;
    background-color: #00095B;
    color: #ffffff;
    width: fit-content;
    padding: 0 10px;
    border-bottom: solid 1px #bfbfbf;
    margin-bottom: 15px;
}
.feat-color--ext {
  	border-top: solid 1px #bfbfbf;
    padding-top: 5px;
  	padding-bottom: 10px;
}

.feat-color--ext span, 
.feat-mileage span {
    font-weight: lighter;
    color: #767676;
}
.feat-mileage, 
.feat-color--ext {
    font-size: 13px;
    font-weight: bold;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  	margin-bottom: 5px;
}
/* .feat-price::before {
    content: "Retail Price";
}

.feat-price {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
} */
#featured-vehicles-component .btn {
  display: none;
  background-color: #00095B;
  color: #ffffff;
  border: 1px solid #00095B;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 34px;
  border-radius: 30px;
  -webkit-transition: .3s all ease; 
  -o-transition: .3s all ease; 
  -moz-transition: all 0.3s ease;
  transition: .3s all ease;
}
#featured-vehicles-component .btn:hover, 
#featured-vehicles-component .btn:active, 
#featured-vehicles-component .btn:focus {
  color: #ffffff;
  background-color: #1700F4;
  text-decoration: none;
  border: 1px solid #1700F4;
}

@media (min-width: 768px) {
    #featured-vehicles-component .container-fluid {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #featured-vehicles-component .container-fluid {
        width: 970px;
    }
  	.featured-car-img {
    	height: 200px;
      max-width: 275px;
      margin: auto;
	}
}

@media (min-width: 1200px) {
    #featured-vehicles-component .container-fluid {
        width: 1170px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  .featured-vehicle-block {
  		width: 50%;
  }
  .featured-car-img {
    	height: 275px;
      max-width: 345px;
      margin: auto;
	}
}
@media (max-width: 767px) {
  .featured-vehicle-block {
  	width: 100%;
  }
	#featured-vehicles-component .wrapper {
    	margin-bottom: 5% !important;
	    width: 95%;
	}
  #featured-vehicles-component .wrapper .featured-car-img img {
        border-radius: 6px 6px 0px 0px;
    }
}

/* HOMEPAGE TICKER */

body .announcements-row,
body .announcements-row .ticker-wrapper,
body .announcements-row .ticker-wrapper .ticker,
body .announcements-row .ticker-wrapper .ticker-title,
body .announcements-row .ticker-wrapper .ticker-content {
    background-color: #0369F4 !important;
}
body .announcements-row .ticker-wrapper {
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    font-size: 16px;
  	height: 0 !important;
}

body .announcements-row .ticker-wrapper .ticker-content {
    text-wrap: inherit;
    padding-top: 0;
}

body .announcements-row .ticker-wrapper .ticker-title {
    padding-top: 0;
}
@media (max-width: 767px) {
  body .announcements-row .ticker-wrapper {
    font-size: 12px;
  }
}






/* INTERACTION BAR ADJUSTMENTS */
.scroll-item[data-item-name="Financing"], 
.scroll-item[data-item-name="Search"],
.scroll-item--default[data-item-name="Cars Under $30K"] {
    display: none;
}
.scroll-item--custom[data-item-name="Cars Under $25K"],
.scroll-item[data-item-name="Finance"] {
	order: -1;
}

.scroll-item[data-item-name="New Vehicles"] {
    order: -4;
}

.scroll-item[data-item-name="Pre-Owned Vehicles"] {
    order: -3;
}

.scroll-item[data-item-name="Schedule Service"] {
    order: -2;
}

.link-strong {
    font-weight:800 !important; 
    text-decoration: underline;
}
span .strong {
    font-weight:800 !important; 
}

div#flexslider-home {
    max-height: none !important;
}